//
// Headings
//
.u-h1 {
  @extend h1;
}

.u-h2 {
  @extend h2;
}

.u-h3 {
  @extend h3;
}

.u-h4 {
  @extend h4;
}

.u-h5 {
  @extend h5;
}

.u-h6 {
  @extend h6;
}


.u-txt-lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}


// Type display classes
@each $display, $font-size in $display-font-sizes {
  .u-display-#{$display} {
    @include font-size($font-size);
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}