// Gray
$gray-light:          #EAEFED ;
$gray-dark:           #A6A6A6 ;
$gray-white:          #F2F2F2 ;

$gray-15:             #EAEFED ;
$gray-25:             #A6A6A6 ;
$gray-35:             #F2F2F2 ;
$gray-45:             #D9D9D9 ;
$gray-55:             #ececec ;


//Promotion
$promotion:           #C92A2A ; 
$border-promo:        $gray-45 ; 

//other
$primary-hover:       #305041 ;