//A modifier par la suite
html{
    font-family: $font-family-base;
    padding: 0 !important;
    margin: 0 !important;
}
body{
    overflow-x: hidden;
}
.bg-relative{
    position: relative;
}
.c-bg-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 95%;
    
    @include media-breakpoint-mobile{
        width: 130%;
    }
}
