.c-cat{
    margin-top: 4rem;
    .c-bloc-soon{
        margin-bottom: 4rem;
    }
}
.c-cat-list{
    margin-bottom: 5rem;
    .c-artcl-mini{
        margin-bottom: 2rem;
    }
    .c-artcl-mini__price{
        display: none;
    }
}
.c-pagination{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    .current{
        border: 1px solid #ccd730;
        border-radius: 102%;
        padding: 1rem 1.25rem;
    }
}

@include media-breakpoint-tablet{
.c-cat{
    .c-list-artcl{
        display: flex;
        flex-direction: column;
        grid-column-gap: inherit;
        .c-artcl-mini{
            flex-direction: row;
        }
        .c-artcl-mini__bloc-img{
            width: 30%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain; 
                border-radius: 0;
            }
        }
        .c-artcl-mini__bloc-txt{
            padding: 1rem;
            padding-top: 0;
        }
        .c-artcl-mini__title-artcl{
            font-size: $h4-font-size;
            margin-bottom: .5rem;
        }
        .c-artcl-mini__lieu{
            font-size: $font-size-base;
        }
        .c-artcl-mini__price{
            font-size: $font-size-base;
        }
        .c-artcl-mini__date{
            display: none;
        }
        .c-artcl-mini__bloc-buy, .c-arcl-mini__btn{
            background-color: transparent;
            padding: 0;
            margin: 0;
            font-size: $font-size-base;
            color: $gray;
            text-decoration: underline;
            text-transform: inherit;
            position: inherit;
            box-shadow: inherit;
        }
    }
}
}