//A modifier par la suite
html{
    font-family: $font-family-base;
    padding: 0 !important;
    margin: 0 !important;
}
body{
    overflow-x: hidden;
}
.bg-relative{
    position: relative;
}
.c-bg-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    @include media-breakpoint-mobile{
        width: 130%;
        height: 300px;
    }
}
.c-bg-img__story{
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 0;
    width: 70%;
    height: 800px;
    
    @include media-breakpoint-tablet{
        width: 110%;
        height: auto;
        top: 0;
    }
}

.c-bg-img__artcile{
    position: absolute;
    top: -15rem;
    right: 0;
    z-index: 1;
    @include media-breakpoint-tablet{
        display: none;
    }
}
.c-bg-img__footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    @include media-breakpoint-tablet{
        width: 300px;
    }
}