header{
    margin-top: 1rem;
}
.c-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.c-header-menu{
    width: max-content;
}
.c-header-menu, .c-header-network, .c-header-menu__links{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.c-header__bloc-menu{
    width: max-content;
    font-size: $h3-font-size; //24
    color: $gray;
    ul{margin-bottom: 0;}
    a:hover{
        color: $primary-hover;
    }
}
.c-header-icon{
    color: $gray;
    &:hover{
        color: $primary;
    }
}
.c-header__bloc-slogan{
    img{
        height: 120px;
        width: auto;
    }
}

.c-header-burger{
    display: none;
    @include media-breakpoint-mobile{
        display: inherit;
    }
    background-color: transparent;
    border: none;
    font-size: 2rem;
    order: 2;
}
@include media-breakpoint-mobile{
    .c-header{
        gap: 1rem;
    }
    .c-header-menu{
        display: none;
    }
    .c-header-menu__links{
        flex-direction: column;
        text-align: center;
        gap: .5rem;
    }
    .c-header__bloc-menu{
        width: inherit;
        ul{
            margin-bottom: .5rem;
        }
    }
    .c-header-network{
        justify-content: center;
        gap: 1rem;
    }
}

//SEARCHBAR
.c-header__searchbar{
    width: 100%;
}
.c-search{
    display: flex;
    border: 1px solid $gray-light;
    border-radius: 100px;
    background-color: transparent;
    .c-search__input{
        border: none;
        background-color: transparent;
    }
    .form-control:focus{
        box-shadow: none;
    }
}