.c-home{
    margin-top: 10rem;
    position: relative;
    z-index: 1;
}
.c-home__bloc-title{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.c-home-title{
    color: #231F20;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.c-home-subtitle{
    color: $gray;
    text-align: center;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: $h2-font-size;
}
@include media-breakpoint-mobile{
    .c-home{
        margin-top: 3rem;
    }
    .c-home__bloc-title{
        width: 100%;
    }
    .c-home-title{
        font-size: $h3-font-size;
    }
    .c-home-subtitle{
        font-size: $h4-font-size;
        padding: 0;
    }   
}

// BLOC DESCRIPTION
.c-home-desc{
    margin-top: 20rem;
    margin-bottom: 3.5rem;
    width: 50%;
    @include media-breakpoint-mobile{
        margin-top: 10rem;
        width: 100%;
    }
    svg{
        color: $gray;
    }
    li{
        font-size: $h4-font-size;
    }
}
.c-home-desc__txt{
    font-size: $h2-font-size;
    color: $secondary-light;
    margin-bottom: 2rem;
}
// BLOC STORY
.c-story{
    margin-top: 15rem;
    margin-bottom: 25rem;
    @include media-breakpoint-mobile{
        margin-top: 10rem;
        margin-bottom: 15rem;
    }
}
.c-story__bloc-txt{
    width: 40%;
    margin-left: auto;
    z-index: 1;
    position: relative;
    @include media-breakpoint-mobile{
        width: 100%;
        margin: 0;
    }
}
.c-story__title{
    text-align: end;
    color: $white;
    text-transform: uppercase;
    font-size: $h1-font-size;
    margin-bottom: 2.5rem;
    @include media-breakpoint-mobile{
        text-align: center;
        font-size: $h1-mobile-font-size;
    }
}
.c-story__txt{
    text-align: end;
    font-size: $h3-font-size;
    color: $white;
    @include media-breakpoint-mobile{
        font-size: $h4-font-size;
        text-align: start;
    }
}

