.c-artcl-page{
    margin-top: 4rem;
}
.c-artcl-header{
    padding-bottom: 4rem;
    border-bottom: 1.5px solid $gray-dark;
}
.c-artcl-header-flex{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.c-artcl__bloc-picture{
    p{
        margin-bottom: 0;
        font-size: $h4-font-size;
        color: $gray;
    }
    span{
        font-weight: $headings-font-weight;
    }
}
.c-artcl__header-img{
    border-radius: 10px;
    margin-bottom: 1rem;
    max-width: 550px;
    height: auto;
}

.c-artcl__title{
    font-size: $h2-font-size;
    margin-bottom: .25rem;
    color: $secondary;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.c-artcl__cat{
    color: $gray-dark;
    font-size: $h3-font-size;
    margin-bottom: 2.5rem;
}
.c-artcl-inf__title{
    text-transform: uppercase;
    color: $secondary;
    font-size: $h3-font-size;
    margin-bottom: 3.5rem;
}
.c-artcl-bloc-inf{
    display: flex;
    justify-content: space-between;
    color: $gray;
    font-size: $h4-font-size;
    margin-bottom: 3rem;
    gap: 2rem;
    .c-artcl__inf-label{
        color: $gray-white;
        font-size: $h4-font-size;
        width: 40%;
    }
    .c-artcl__inf{
        text-align: end;
    }
}

.c-artcl__content{
    padding-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1.5px solid $gray-dark;
}
.c-artcl-content__title{
    text-transform: uppercase;
    color: $gray;
    font-size: $h1-font-size;
    margin-bottom: 2rem;
}
.c-artcl-content__txt{
    width: 80%;
    font-size: $h3-font-size;
    p{margin-bottom: 0;}
}

.c-artcl__reserved{
    border-radius: 10px;
    height: fit-content;

    .c-arcl-mini__btn{
        position: inherit;
        margin: inherit;
    }
}
// GALERIE
.c-artcl-galerie{
    padding-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1.5px solid $gray-dark;
}
.c-artcl_galerie__section{
    display: flex;
    gap: 3rem;
    overflow-x: scroll;
}
.c-artcl-galerie__item{
    display: block;
    min-width: 400px;

    img{
        width: 100%;
        height: auto;
        box-shadow: 0 4px 20px rgba(0,0,0,.1);
        border-radius: 10px;
    }
}

//COMMENTS
.c-comments{
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.c-artcl-comments__title, .c-artcl-comments__title2{
    text-transform: uppercase;
    color: $gray;
}
.c-artcl-comments__title{
    margin-bottom: 2rem;
    font-size: $h1-font-size;
}
.c-artcl-comments__title2{
    margin-bottom: 2rem;
    font-size: $h2-font-size;
    order: 1;
}
.c-comments-section{
    border: 5px solid $primary;
    padding: 3.5rem 2rem 2rem 2rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: $white;
}
.c-comments__grid{
    display: flex;
    flex-direction: column;
}
.c-comments-section{
    .comment-form-url,.comment-form-cookies-consent,label, .comment-notes{display: none; }
    
    .comment-form-author, .comment-form-comment, .comment-form-email{
        & input, & textarea{
            border: 1px solid black;
            border-radius: 10px;
            padding: 1rem 1.5rem;
            width: 100%;
            font-size: $h4-font-size;

            &::placeholder{
                font-size: $h4-font-size;
                color: $gray;
                opacity: 1;
            }
        }
        
    }
    .c-comments__btn-submit{
        background-color: $primary;
        padding: .5rem 1.5rem;
        color: $white;
        text-transform: uppercase;
        display: block;
        width: fit-content;
        font-weight: $headings-font-weight;
        font-size: $h3-font-size;
        &:hover{
            background-color: $primary-hover;
        }
    }
    .c-comments-list{
        order: 2;
        .says, .reply,.edit-link{display: none;}
        .comment-author{
            color: $gray;
            font-size: $font-size-lg;
            margin-bottom: .5rem;
            font-weight: $headings-font-weight;
        }
        .comment-metadata{
            color: $gray-dark;
            font-size: 1rem;
            margin-bottom: .5rem;
        }
        .comment-content{
            font-size: $font-size-lg;
            color: $secondary;
        }
        li{
            list-style: none;
        }
        .comment-meta{
            background-color: transparent;
        }
    }
    .c-comments-write{
        order: 3;
    }

}

@include media-breakpoint-tablet{
    .c-artcl-page{
        margin-top: 2rem;
    }
    .c-artcl-header{
        padding-bottom: 1.5rem;
    }
    .c-artcl-header-flex{
        flex-direction: column;
        gap: 1rem;
    }

    .c-artcl__content, .c-artcl-galerie{
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
    .c-comments{
        padding-top: 1.5rem;
        padding-bottom: 3rem;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }
    .c-comments-list{
        padding: 0;
    }
    .c-artcl-comments__title{
        margin-bottom: 2rem;
    }
    .c-artcl-content__title{
        font-size: $h1-mobile-font-size;
    }
    .c-artcl-content__txt{
        width: 100%;
        font-size: $h5-font-size;
    }
    .c-artcl__bloc-picture{
        margin-bottom: 1.5rem;
        img{
            width: 100%;
            height: auto;
        }
        p{
            align-items: center;
            font-size: $font-size-base;
        }
    }
    .c-artcl-bloc-inf{
        margin-bottom: 1.5rem;
    }
    .c-artcl-galerie__item{
        display: block;
        min-width: 350px;
    
        img{
            width: 100%;
            height: auto;
            box-shadow: 0 4px 20px rgba(0,0,0,.1);
            border-radius: 10px;
        }
    }
}

.c-artcl-avis{
    .c-artcl-content__title{
        text-align: center;
    }
    .c-comments{
        margin-bottom: 8rem;
        @include media-breakpoint-tablet{
            margin-bottom: 0;
        }
    }
    position: relative;
    z-index: 1;
    .c-artcl-comments__title{
        display: none;
    }
}