.c-inscr{
    display: flex;
    background-color: $primary-light;
    @include media-breakpoint-tablet{
        flex-direction: column;
    }
}
.c-inscr__bloc-img{
    width: 60%;
    max-height: 450px;
    img{
        width: 100%;
        border-radius: 0 300px 300px 0;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    @include media-breakpoint-tablet{
        width: 100%;
        img{
            border-radius: 0;
        }
    }
}
.c-inscr__bloc-txt{
    width: 40%;
    padding: 3rem 5rem;
    @include media-breakpoint-tablet{
        width: 100%;
        padding: 2rem;
    }
}

.c-inscr__title{
    font-size: $h1-mobile-font-size;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: $gray;
    @include media-breakpoint-tablet{
        font-size: $h2-mobile-font-size;
        text-align: center;
    }
}

.c-inscr-text{
    font-size: $h4-font-size;
    color: $gray;
    margin-bottom: 1rem;
    @include media-breakpoint-tablet{
        font-size:$h4-font-size;
        text-align: center;
    }
}
.c-inscr-relative{
    position: relative;
}

.c-inscr-btn{
    display: block;
    width: fit-content;
    color: $white;
    background-color: $gray;
    text-transform: uppercase;
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    &:hover{
        color: $white;
        background-color: $secondary;
    }
    @include media-breakpoint-tablet{
        margin-right: auto;
        margin-left: auto;
        padding: 1rem;
        font-size: $font-size-base;
    }
}
