.c-map{
    margin-top:4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
.c-map__item{
    display: flex;
    gap: 1.5rem;
    align-items: center;

}
.c-map__bloc-icon{
    background-color: $primary;
    border-radius: 100%;
    padding: 1rem;
    width: fit-content;

    svg{
        width: 2rem;
        height: 2rem;
        color: $white;
    }
}
.c-map__inf{
    font-size: $h3-font-size;
    color: $secondary;
}

@include media-breakpoint-tablet{
    .c-map{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2.5em;
        margin-bottom: 2.5rem;
    }
    .c-map__bloc-icon{
        padding: 1rem;
        svg{
            width: 2rem;
            height: 2rem;
        }
    }
    .c-map__inf{
        font-size: $h5-font-size;
    }
}