.c-soon,.c-list-artcl{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 5rem;
    background-color: transparent;
    margin-bottom: 2rem;
}
.c-soon{
    grid-template-columns: repeat(11,1fr);
}
.c-soon > .c-artcl-mini:nth-child(3n+1){
    grid-column: 2/5;
}
.c-soon > .c-artcl-mini:nth-child(3n+2){
    grid-column: 5/8;
}
.c-soon > .c-artcl-mini:nth-child(3n+3){
    grid-column: 8/11;
}

.c-list-artcl > .c-artcl-mini:nth-child(4n+1){
    grid-column: 1/4;
}
.c-list-artcl > .c-artcl-mini:nth-child(4n+2){
    grid-column: 4/7;
}
.c-list-artcl > .c-artcl-mini:nth-child(4n+3){
    grid-column: 7/10;
}
.c-list-artcl > .c-artcl-mini:nth-child(4n+4){
    grid-column: 10/13;
}

.c-bloc-soon{
    margin-bottom: 6rem;
    @include media-breakpoint-tablet{
        margin-bottom: 4rem;
    }
}
.c-soon__title{
    font-size: $h1-font-size;
    text-transform: uppercase;
    margin-bottom: 4rem;
    color: $gray;
    @include media-breakpoint-tablet{
        font-size: $h2-font-size;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}
.c-artcl-mini{
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.c-artcl-mini__bloc-img{
    background-color: transparent;
    img{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
}
.c-artcl-mini__bloc-txt{
    padding: 1rem;
    padding-bottom: 5rem;
    border-radius: 10px;
}
.c-artcl-mini__title-artcl{
    margin-bottom: 1.5rem;
    color: $gray;
    @include media-breakpoint-mobile{
        font-size: $h3-font-size;
    }
}
.c-artcl-mini__lieu{
    text-transform: uppercase;
    color: #565656;
    font-size: $h5-font-size;
    margin-bottom: .5rem;
}
.c-artcl-mini__ville{
    text-transform: uppercase;
    color: $gray-white;
    margin-bottom: 1rem;
    font-size: 14px;
}
.c-artcl-mini__date{
    color: $gray-light;
    font-weight: $headings-font-weight;
    margin-bottom: 2rem;
}
.c-artcl-mini__price{
    color: $gray;
    text-align: center;
    display: block;
    font-weight: $headings-font-weight;
    font-size: $h5-font-size;
    margin-bottom: 1rem;
    .price-primary{
        color: $primary;
    }
}

.c-arcl-mini__btn{
    position: absolute;
    bottom: 1.5rem;
    display: block;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $primary;   
    padding: 1rem .75rem;
    text-transform: uppercase;
    color: $white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size:$h5-font-size;
    font-weight: $headings-font-weight;
    &:hover{
        color: $white;
        background-color: $primary-hover;
    }
}
.c-soon__bloc-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $h3-font-size;
    .tkt-primary{
        color: $primary;
        display: inline-block;
        &:hover{text-decoration: underline;}
    }
}
.c-soon-btn{
    display: inline-block;
    &:hover{text-decoration: underline;}
}

@include media-breakpoint-tablet{
    .c-soon{
        grid-column-gap: 0;
        display: flex;
        gap: 2rem;
        overflow-x: scroll;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .c-artcl-mini__bloc-txt{
        padding: 1rem;
        padding-bottom: 6rem;
    }
    .c-artcl-mini__bloc-img{
        img{
            width: 300px;
        }
    }
    .c-artcl-mini{
        margin-bottom: 1rem;
    }
    .c-soon__bloc-txt{
        flex-direction: column;
        font-size: $h5-font-size;
    }
    .c-soon-btn{
        font-size: $h4-font-size;
        margin-bottom: 1rem;
    }
}